---
---


<style>
  .container {
    width: 100vw;
    margin: 0 auto;
    max-width: var(--container-max-width, 960px);
    padding: var(--container-padding, 1rem);
  }
</style>

<div class="container">
  <slot />
</div>


